name: tugas_assignment_2
description: "Tugas Assignment 2 - Flutter + Geolocator"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  geolocator: ^12.0.0
  geolocator_android: ^4.5.5
  geolocator_apple: ^2.3.13   

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/bg_cinema.jpg